[submodule "ros-issues"]
	path = ros-issues
	url = https://github.com/Le2iCollaborativeResearchGroup/ros-issues.git

[submodule "ros-packages"]
	path = ros-packages
	url = https://github.com/Le2iCollaborativeResearchGroup/ros-packages.git

